<div class='container'>
    <h3> Login Page</h3>
<form  class="form-control" [formGroup]="form">
   <div class="form-group">
     <label for="password">Email</label>
     <input type="email" formControlName="sEmail" class="form-control" placeholder="Enter Email" aria-describedby="helpId">

   </div>
   <div class="form-group">
     <label for="password">password</label>
     <input type="password"  class="form-control" formControlName="sPassword" placeholder="Enter Password" aria-describedby="helpId">
     
   </div>


   <div class="form-group">
    <input formControlName="rememberme" type="checkbox" id="gridCheck1">
    <label  style="color: #0099cc;"  for="gridCheck1">Remember Me</label>
</div>
   <button ype="button" (click)= 'submit()' class="btn btn-primary" >submit</button>
</form>
</div>